<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
<link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet">
<head>
    <meta charset="utf-8"/>
    <title>Phone Book Manager</title>
    <style>
		body {
		background-color : lightgray;
		}
		.centerDiv {
  width: 40%;
 background: white;
  border : solid 2px lighblue ;
  border-radius : 8px ;
  padding :50px;
  }
  table{
  background-color:white;
  width : 100%;
  }
   strong:hover{
  color:white;
  }
.swal2-confirm{
margin:20px;
}
#table_filter{
text-align:center;
margin-left: 87px;
}
#table_length{
margin-right: 160px;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination{
    justify-content: center;
    margin-left: 280px;
}
    </style>
</head>
<body id="body-pd">

<main>
    <div align="center" style="margin-top:5%;">
        <h1>Phone Book Storage</h1>
        <div>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#triggerModal">
                Add new Phone Book
            </button>

            <!-- Modal -->
            <div class="modal fade" id="triggerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="#" th:action="@{/savePhoneBook}" th:object="${phoneBook}"
                                  method="post">
                                <label>First Name:</label>
                                <input  class="form-control" type="text" th:field="*{name.firstName}" th:id = "firstName"  required/>
                                <label>Last Name:</label>
                                <input  class="form-control" type="text" th:field="*{name.lastName}" th:id = "lastName"  required/>
                                <label>Number:</label>
                                <input  class="form-control" type="text" th:field="*{number}" th:id = "number"  required/>
                                <label>Type:</label>
                                <select id = "dropDown"  required class="selectNew form-control" th:object = "${phoneBook}" th:field = "*{type}">
                                    <option selected disabled th:value = "null">~~Chose an option~~</option>
                                    <option th:text = "Work" th:value = "Work">
                                    <option th:text = "Cellphone" th:value = "Cellphone">
                                    <option th:text = "Home" th:value = "Home">
                                </select>
                                <button style="margin-top:10px;" type="submit" class="btn btn-primary">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/>
        <table border="1" cellpadding="10" style="width:71%" class="table"
               id="table">
            <thead class="thead-dark">
            <tr scope="row">
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Type</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="pb : ${listOfPhoneBooks}">
                <td th:text="${pb.name.firstName}">Customer Name<\td>
                <td th:text="${pb.name.lastName}">Name</td>
                <td th:text="${pb.number}">Address</td>
                <td th:text="${pb.type}">Phone Number</td>
                <td>
                    <br>
                    <div>
                        <div>
                            <a th:href="@{'/editPhoneBook/' + ${pb.id}}">Edit</a>
                        </div>
                        <a style="cursor:pointer"
                             th:onclick="|deleteOrder(${pb.id});|" class='show-example-btn'>
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script>
$(document).ready(() => $('#table').DataTable());
</script>
<script>
  function deleteOrder(id) {
    swal({
      title: "Are you sure?",
      text: "All data will be deleted",
      icon: "warning",
      buttons: true,
      dangerMode: true,
    }).then((Delete) => {
      if (Delete)
        window.location.href = "/deletePhoneBookById/" + id;
    });
  }
</script>
</body>
</html>